<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.app.Mixo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Mixo</string>
				<string>fb2601554930100312</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>2601554930100312</string>
	<key>FacebookDisplayName</key>
	<string>Mixo</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Spotify needs access to your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Spotify needs access to your contacts list</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Spotify needs access to your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Spotify needs access to your photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Rounded-Black</string>
		<string>SF-Pro-Rounded-Bold</string>
		<string>SF-Pro-Rounded-Heavy</string>
		<string>SF-Pro-Rounded-Light</string>
		<string>SF-Pro-Rounded-Medium</string>
		<string>SF-Pro-Rounded-Regular</string>
		<string>SF-Pro-Rounded-Semibold</string>
		<string>SF-Pro-Rounded-Thin</string>
		<string>SF-Pro-Rounded-Ultralight</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
